.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Login__username__input,
.Login__password__input {
  width: 100%;
  padding: 0.8rem;
}
.Login__username__text,>.Login__password__text{


}
.Login__form {
  background-color: blueviolet;
  padding: 1rem;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Login__checkbox {
  display: flex;
  position: relative;
  bottom: 1rem;
  align-items: center;
}
.Login__checkbox__text {
  margin-left: 0.5rem;
}
.Login__button {
  width: 100%;
  padding: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}
