.Sidebar {
  background-color: #367e18;
  width: 5rem;
  min-height: 98vh;
  border-radius: 1rem;
  box-shadow: #8ec3b0 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.44rem;
  margin-left: 0.5rem;
}

.Sidebar__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Sidebar__icon {
  font-size: 1.875em;
  color: #494949;
  cursor: pointer;
  transition: color linear 0.3s;
}

.Sidebar__icon:hover {
  color: #000;
}

.Sidebar__icon__active {
  font-size: 1.875em;
  color: #ffff;
  cursor: pointer;
}

.Sidebar__icon__container {
  padding: 1rem;
  z-index: 12;
  cursor: pointer;
}

.Sidebar__icon__container__active {
  background-color: #14274e;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
}

.Sidebar__bottom {
  display: flex;
  flex-direction: column;
}

.Sidebar__bottom > * {
  margin-bottom: 2rem;
  cursor: pointer;
}
