.Time {
  margin-top: 1rem;
  background-color: #393e46;
  color: #6d9886;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
}

.Time__time {
  font-size: 3em;
}

.Time__date {
  font-size: 1.5em;
  margin-left: 0.5rem;
  margin-top: 0.4rem;
}
